body {
    background-color: antiquewhite;
    height: 100vh;
}

.mainBasicLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    height: 5em;
    background-color: burlywood;
}
.buttonSector {
    background-color: honeydew;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.issueInfo {
    border:2px solid darkblue;
    background-color: cornflowerblue;
    color: white;
    padding: 2px;
    margin: 2px;
}*/

.todoBtn{
    border:2px solid darkblue;
    background-color: cornflowerblue;
    color: white;
    padding: 2px;
    margin: 2px;
}
.inProgressBtn {
    border:2px solid darkblue;
    background-color: sandybrown;
    color: white;
    padding: 2px;
    margin: 2px;
}
.blockedBtn{
    border:2px solid darkblue;
    background-color: red;
    color: white;
    padding: 2px;
    margin: 2px;
}
.doneBtn{
    border:2px solid darkblue;
    background-color: forestgreen;
    color: white;
    padding: 2px;
    margin: 2px;
}

.lowBtn {
    border:2px solid lightslategrey;
    background-color: deepskyblue;
    color: black;
    padding: 2px;
    margin: 2px;
}
.normalBtn{
    border:2px solid forestgreen;
    background-color: antiquewhite;
    color: black;
    padding: 2px;
    margin: 2px;
}
.highBtn{
    border:2px solid  red;
    background-color: darkred;
    color: white;
    padding: 2px;
    margin: 2px;
}
.featureTypeBtn{
    border:2px solid blue;
    background-color: aliceblue;
    color: black;
    padding: 2px;
    margin: 2px;
}
.bugTypeBtn{
    border:2px solid  darkred;
    background-color: deeppink;
    color: black;
    padding: 2px;
    margin: 2px;
}
.wishTypeBtn{
    border:2px solid  chartreuse;
    background-color: darkseagreen;
    color: black;
    padding: 2px;
    margin: 2px;
}
