body {
    background-color: antiquewhite;
}
.mainBasicLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
}