body {
    background-color: antiquewhite;
    height: 100vh;
}

.mainBasicLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    height: 5em;
    background-color: burlywood;
}
.buttonSector {
    background-color: honeydew;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.issueInfo {
    border:2px solid darkblue;
    background-color: cornflowerblue;
    color: white;
    padding: 2px;
    margin: 2px;
}
