<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/basic}"
>
<section layout:fragment="allPersons">
    <div class="container">
        <h2 class="text-center">
            ALL USERS
        </h2>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{user.userName}"></th>
                <th th:text="#{user.realName}"></th>
                <th>Email</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${allUsers}">
                <td th:text="${person.username}"></td>
                <td th:text="${person.realName}"></td>
                <td th:text="${person.email}"></td>
                <td>
                    <a th:href="@{/person/{id}(id=${person.getId()})}" th:text="#{common.edit}">
                    </a>
                </td>
                <td>
                    <a th:href="@{/person/{id}/delete(id=${person.getId()})}" th:text="#{common.delete}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>