<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/basic}"
>
<section layout:fragment="addPerson">
<div class="container">
    <form th:action="@{/person/create}" method="post" th:object="${person}">
        <div class="mb-3">
            <label for="username">
                Nazwa użytkownika
            </label>

            <input type="text"
                   class="form-control"
                   id="username"
                   placeholder="Username"
                   th:field="*{username}"
                 >
        </div>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <div class="mb-3">
            <label for="email">
                Email
            </label>

            <input type="email"
                   class="form-control"
                   id="email"
                   th:field="*{email}"
                   placeholder="Email"
                 >
        </div>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <div class="mb-3">
            <label for="realName">
                Prawdziwe imie
            </label>

            <input type="text"
                   class="form-control"
                   id="realName"
                   th:field="*{realName}"
                   placeholder="Real name"
                 >
        </div>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('realName')}" th:errors="*{realName}"></div>
        <div class="mb-3">
            <label for="password">
                Haslo
            </label>

            <input type="text"
                   class="form-control"
                   id="password"
                   th:field="*{password}"
                   placeholder="Password"
                   >
        </div>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

        <div>
            <button type="submit" class="btn btn-primary" th:text="Dodaj">

            </button>
        </div>
    </form>

</div>
</section>