<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/basic}"
>
<section layout:fragment="addPerson">
<div class="container">
    <form th:action="@{/person/create}" method="post">
        <div class="mb-3">
            <label for="username">
                Nazwa użytkownika
            </label>

            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="Username"
                 >
        </div>
        <div class="mb-3">
            <label for="email">
                Email
            </label>

            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Email"
                 >
        </div>
        <div class="mb-3">
            <label for="realName">
                Prawdziwe imie
            </label>

            <input type="text"
                   class="form-control"
                   id="realName"
                   name="realName"
                   placeholder="Real name"
                 >
        </div>

        <div class="mb-3">
            <label for="password">
                Haslo
            </label>

            <input type="text"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="Password"
                   >
        </div>
        <div>
            <button type="submit" class="btn btn-primary" th:text="Dodaj">

            </button>
        </div>
    </form>

</div>
