<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/basic}"
>
<section layout:fragment="personDetails">
    <div class="card" style="width: 18rem;">
        <div class="card-header" th:text="#{user.details}">
        </div>
        <ul class="list-group list-group-flush">
            <span th:text="#{user.userName}" class="text-info m-1"></span>
            <li class="list-group-item" th:text="${person.getUsername()}"></li>
            <span th:text="#{user.realName}" class="text-info m-1"></span>
            <li class="list-group-item" th:text="${person.getRealName()}"></li>
            <span class="text-info m-1">Email</span>
            <li class="list-group-item" th:text="${person.getEmail()}"></li>
        </ul>
        <a th:href="@{/person/{id}/edit(id=${person.getId()})}">
            <button class="btn btn-secondary" th:text="#{common.edit}"></button>
        </a>
        <table class="table ">
            <thead class="table-header table-bordered border-dark">
            <tr>
                <th><h5 th:text="#{user.roles}"></h5></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${authorities}">
                <td th:text="${item}"></td>
                <td>
                    <a th:href="@{/roles/{userId}/{roleName}(roleName=${item}, userId=${person.getId()})}">
                        <button class="btn btn-danger" th:text="#{common.delete}"></button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="card-footer">
            <form th:action="@{/roles/{userId}(userId=${person.getId()})}" method="post">
                <div class="mb-3">
                    <label for="roleId">
                        Uprawnienie
                    </label>

                    <select
                            id="roleId"
                            name="roleId"
                            class="form-control"
                    >
                        <option th:value="${role.getId()}" th:each="role : ${allAuthorities}"
                                th:text="${role.getAuthority()}"></option>

                    </select>

                </div>
                <button class="btn btn-toolbar" th:text="#{common.add}"></button>
            </form>
            <!--            <a th:href="@{/person/{id}/authority(id=${person.getId()})}">-->
            <!--                <button class="btn btn-toolbar" th:text="#{common.add}"></button>-->
            <!--            </a>-->
        </div>
    </div>
</section>