<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/basic}"
>
<section layout:fragment="projectDetails">
  <div class="container">
    <h2 th:text="#{projects.details}"></h2>

    <div class="card mt-4 min-vw-30">
      <h5 class="card-header" th:text="#{projects.name} + ${ ': ' + project.getName()}"></h5>
      <h6 class="card-header" th:text="#{projects.creator} + ${': ' + project.creator.getRealName()}"></h6>

      <div class="card-body">
        <p class="card-header-pills" th:text="#{projects.description}"></p>
        <p class="card-text" th:text="${project.description}"></p>
      </div>
      <div class="card-footer">
        <span th:switch="${project.getEnabled()}">
        <h6 class="card-text" th:case="true" th:text="#{projects.active}"></h6>
        <h6 class="card-text" th:case="false" th:text="#{projects.notActive}"></h6>
        </span>
      </div>
    </div>


<div class="flex-column justify-content-center align-content-center">
  <a th:href="@{/project/{id}/edit(id=${project.getId()})}">
    <button class="btn btn-info m-3" th:text="#{projects.edit}"></button>
  </a>
    <form th:action="@{/project/{id}(id=${project.getId()})}" method="post">
      <button class="btn btn-danger m-3" th:text="#{projects.delete}"></button>
    </form>

</div>


  </div>
</section>