<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/basic}"
>
<section layout:fragment="editProject">
    <span th:switch="${isUserCreator}">
    <div th:case="false">
      <p class="text-bg-warning" th:text="#{projects.forbidden}"></p>
    </div>


    <div class="container" th:case="true">
        <form th:action="@{/project/{id}/edit(id=${project.getId()})}" method="post">
            <div class="mb-3">
                <label for="name" th:text="#{projects.name}">

                </label>

                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       th:placeholder="${project.getName()}"
                       th:value="${project.getName()}"
                >
            </div>
            <div class="mb-3">
                <label for="description" th:text="#{projects.description}">

                </label>

                <textarea type="text"
                       class="form-control"
                       id="description"
                       name="description"
                       th:placeholder="${project.getDescription()}"
                       th:value="${project.getDescription()}"
                ></textarea>
            </div>
               <div class="mb-3">
                <label for="isEnabled">
                    Status
                </label>

                <select
                        id="isEnabled"
                        name="isEnabled"
                        class="form-control">
                <option value="true" th:text="#{projects.active}"></option>
                <option value="false" th:text="#{projects.notActive}"></option>

            </select>
            </div>
            <div>
                <button class="btn btn-primary" th:text="#{common.save}">
                </button>
            </div>

        </form>

               <a th:href="@{/project/{id}(id=${project.getId()})}">
                   <button class="btn btn-outline-secondary mt-2" th:text="#{common.cancel}"></button>
                </a>

    </div>
        </span>
</section>